{
  // pr-plugins manifest (consumed by Lidarr.Plugin.Common loader)
  "id": "RicherTunes.Qobuzarr",
  "name": "Qobuzarr",
  "version": "{VERSION}",
  "apiVersion": "1.x",
  "author": "RicherTunes",
  "description": "Qobuz indexer + download client (adapter mode)",
  "capabilities": ["download","indexer"],
  "requiredSettings": ["DownloadPath","UserId","AuthToken"],
  "minHostVersion": "2.13.2.4685",
  "entryAssembly": "Lidarr.Plugin.Qobuzarr.dll"
}
