<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- File target for all logs with detailed format -->
    <target xsi:type="File" 
            name="fileTarget"
            fileName="logs/qobuz-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            archiveFileName="logs/qobuz-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Separate file for download operations with more detail -->
    <target xsi:type="File" 
            name="downloadTarget"
            fileName="logs/downloads-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            archiveFileName="logs/downloads-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Async wrapper for performance -->
    <target xsi:type="AsyncWrapper" name="asyncFile" queueLimit="10000" overflowAction="Block">
      <target-ref name="fileTarget" />
    </target>
    
    <target xsi:type="AsyncWrapper" name="asyncDownload" queueLimit="10000" overflowAction="Block">
      <target-ref name="downloadTarget" />
    </target>
  </targets>

  <rules>
    <!-- Download operations get special logging -->
    <logger name="QobuzCLI.Services.RealQobuzService" minlevel="Debug" writeTo="asyncDownload" />
    <logger name="QobuzCLI.Commands.DownloadCommand" minlevel="Debug" writeTo="asyncDownload" />
    <logger name="QobuzCLI.Services.Dashboard" minlevel="Debug" writeTo="asyncDownload" />
    
    <!-- All other logs go to main file -->
    <logger name="*" minlevel="Information" writeTo="asyncFile" />
    
    <!-- Suppress noisy HTTP client logs in file (but allow Error level) -->
    <logger name="System.Net.Http.HttpClient*" maxlevel="Info" final="true" />
    <logger name="Microsoft.Extensions.Http*" maxlevel="Info" final="true" />
  </rules>
</nlog>